<!-- Footer -->
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="12u">
					<!-- Contact -->
					<section class="contact">
						<header>
							<h1 id="contact-h" class="wow zoomIn">Contact</h1>
							<br>
							<h3 class="wow zoomIn"><a href="mailto:clevelandwilliams3579@gmail.com">clevelandwilliams3579@gmail.com</a>	</h3>
						</header>

						<p class="wow zoomIn"><i class="fa fa-phone wow shake" aria-hidden="true"></i>  +1 407-267-4838</p>
						<ul class="icons" id="contact">
							<li><a href="http://codepen.io/cwilliams3579/" class="icon fa-codepen wow fadeInLeftBig" target="_blank"><span class="label">Codepen</span></a></li>
							<li><a href="https://www.facebook.com/tony.gilbert.9440" class="icon fa-facebook wow fadeInLeftBig" target="_blank"><span class="label">Facebook</span></a></li>
							<li><a href="https://github.com/cwilliams3579" class="icon fa-github wow zoomIn" data-wow-delay="1s" target="_blank"><span class="label">GitHub</span></a></li>
							<li><a href="https://www.freecodecamp.com/cwilliams3579" target="_blank" class="icon fa-fire wow fadeInRightBig"><span class="label">FreeCodeCamp</span></a></li>
							<li><a href="#" class="icon fa-linkedin wow fadeInRightBig"><span class="label">Linkedin</span></a></li>
						</ul>
					</section>
				</div>
			</div>
		</div>
		<br>
		<a href="javascript:void(0);" id="rocketmeluncur" class="showrocket" ><i></i></a>
	</div>
