<!-- Footer -->
	<div id="footer">
		<div class="container text-center">
			<div class="row">
				<div class="12u">
					<!-- Contact -->
					<section class="contact">
						<header>
							<h2 id="ct">Contact</h2><br>
							<h3 class="wow zoomIn"><a href="mailto:clevelandwilliams3579@gmail.com" id="mail">clevelandwilliams3579@gmail.com</a>	</h3><br>
							<p class="wow zoomIn" id="number"><i class="icoTwitter fa fa-phone wow shake" aria-hidden="true"></i>  +1 407-267-4838</p>
						</header><br>

						<ul class="social-network social-circle">
                        <li><a href="#" class="icoRss wow zoomIn" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="https://www.facebook.com/tony.gilbert.9440" target="_blank" class="icoFacebook wow zoomIn" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://github.com/cwilliams3579" target="_blank" class="icoTwitter wow zoomIn" title="Twitter"><i class="fa fa-github"></i></a></li>
                        <li><a href="http://codepen.io/cwilliams3579/" target="_blank" class="icoTwitter wow zoomIn" title="Twitter"><i class="fa fa-codepen"></i></a></li>
                        <li><a href="#" class="icoGoogle wow zoomIn" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="https://www.freecodecamp.com/cwilliams3579" target="_blank" class="icoGoogle wow zoomIn" title="Google +"><i class="fa fa-fire"></i></a></li>
                        <li><a href="#" class="icoLinkedin wow zoomIn" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
					</section>
				</div>
			</div>
		</div>
		<br>

	</div>
