<header class="cd-header wow fadeInLeftBig">
  <a href="#0" class="cd-logo"><img src="/assets/cd-logo.svg" alt="Logo"></a>
  <a href="#0" class="cd-3d-nav-trigger">
    Menu
    <span></span>
  </a>
</header> <!-- .cd-header -->
<nav class="cd-3d-nav-container">
  <ul class="cd-3d-nav">
    <li class="cd-selected">
      <a href="/">Dashboard</a>
    </li>
    <li>
      <a href="#portfolio">Portfolio</a>
    </li>
    <li>
      <%= link_to "New Post", new_post_path %>
    </li>
    <li>
      <a href="#about">About</a>
    </li>
    <li>
      <a href="#contact">Settings</a>
    </li>
  </ul> <!-- .cd-3d-nav -->

  <span class="cd-marker color-1"></span>
